@import "tailwindcss";
@plugin "daisyui";
@tailwind components;
@tailwind base;
@tailwind utilities;

.fresh-gradient {

}

.card{
  @apply space-y-8 rounded-xl ;
  width: 60%;
  position: relative;
  height: 9rem;

}

.inner{
  padding-left: .5rem;
  padding-right: .5rem;

  position: absolute;
  bottom: 0.4rem;
  width: 100%;
}
h1{
  width: fit-content;
  margin-bottom: 1.5rem;
  font-size: 4rem;
  @apply mr-auto ml-auto;
}

#would{
  display:inline-flex;
  color: red;
  animation-name: would;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-direction: alternate;
}
@keyframes would {
  from{color: red;
      transform: scale(1.2);
  }
  to{color: blue;
    transform: scale(1);
  }
}

#rather{
  display:inline-flex;
  color: blue;
  animation-name: rather;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-direction: alternate;
}
@keyframes rather{
  from{color: blue;
    transform: scale(1);
  }
  to{color: red;
    transform: scale(1.2);
  }

}
.room{
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .7rem;
}

/*
*{
  border:1px solid violet;
}
*/